[run]
branch = True
source = z3c.flashmessage

[report]
precision = 2

[html]
directory = htmlcov

[paths]
source =
   src/z3c/flashmessage
   .tox/*/lib/python*/site-packages/z3c/flashmessage
   .tox/pypy*/site-packages/z3c/flashmessage
